n8n-workflow.json
{
  "name": "Ticket Auto-Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c7b1b2c0-d4e5-4c6d-8a9b-1c2d3e4f5a6b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ticket-created"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://api:3000/api/tickets/webhook/ticket-done",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "={{$json.webhookSecret}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"ticketId\": \"{{$json.ticketId}}\",\n  \"status\": \"complete\",\n  \"customerId\": \"{{$json.customerId}}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4d7e-8f9a-0b1c2d3e4f5a",
      "name": "Complete Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Ticket marked as complete\", \"ticketId\": \"{{$json.ticketId}}\"}"
      },
      "id": "b2c3d4e5-f6a7-4e8f-9a0b-1c2d3e4f5a6b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Complete Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Ticket": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1",
  "tags": []
}
